


<footer>

    <div class="footer-container">

        <div class="footer-left">

            <div class="logo">
                <h1> Punt Restaurant</h1>
            </div>

            <div class="social-icons">
                <li> <i class="fa-brands fa-facebook-f fa-lg" style="color:#1877f2"></i> </li>
                <li> <i class="fa-brands fa-instagram fa-lg" style="color:rgb(189, 53, 107)"></i> </li>
               <li> <i class="fa-brands fa-x-twitter fa-lg" style="color:rgb(9, 9, 10)"></i> </li>
                <li> <i class="fa-brands fa-yelp fa-lg" style="color:#c41200"></i></li>
                <li> <i class="fa-brands fa-youtube fa-lg" style="color:red"></i> </li>

            </div>

        </div>

        <div class="footerNav-container">

            <div class="footer-nav">

                <ul>
                    <li> <a href="menu"> Menu </a></li>
                    <li> <a href="locations"> Locations </a></li>
                    <li> <a href="reservations"> Reservations </a></li>
                </ul>

            </div>

        </div>

        <div class="contact-us">
            <div class="contact-phone">
                <h2> Contact Us </h2>
                <a href="tel:+(452)409-7926"> (425)409-7926</a>
                 

            </div>

            <div class="contact-email">
                <h2> Email Us</h2>
                <a href="mailto:"> fanielhabte20@gmail.com </a>
                
            </div>
        </div>


    </div>
    
<script src="/script.js"></script>
</footer>


</html>