<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:wght@600&family=Fuggles&family=Lato:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@600&family=Space+Grotesk:wght@600&display=swap"
        rel="stylesheet">
    <link rel="icon" href=" images/utensils-solid.svg">
    <title>Punt Restaurant</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

    <header>
    
        <div class="nav-container">
    
            <div class="logo">
                <h1> Punt Restaurant</h1>
            </div>
    
            <div class="navigations">
    
                <li> <a href="index"> Home </a></li>
                <li> <a href="menu"> Menu </a></li>
                <li> <a href="locations"> Locations </a></li>
                <li> <a href="news"> News </a></li>
                <li> <a href="reservations"> Reservations </a></li>
    
            </div>
    
            <div class="header-socials">
    
                <li> <a href=""> <i class="fa-brands fa-facebook-f fa-lg" style="color:rgb(76, 108, 137)"></i> </a>
                </li>
                <li> <a href=""> <i class="fa-brands fa-instagram fa-lg" style="color:rgb(135, 62, 95)"></i> </a> </li>
                <li> <a href=""> <i class="fa-brands fa-yelp fa-lg" style="color:rgb(188, 38, 38)"></i> </a> </li>
    
            </div>
    
        </div>
    </header>

 
    



