<%- include('../partials/header') %>

<section class="background-pic">
    
<img src="/images/background-pic.jpg" alt="">

  
</section>
<div class="logo-pic"> Punt Restaurant </div>


<section class="section-2" >
    <div class="about-us"> 

        <div class="about-note">
        <h1> About Us</h1>
       <p> Welcome to Punt Restaurant, your gateway to the flavors of Eritrea in Seattle. We're passionate about sharing the rich culinary traditions of Habesha culture with you.
    </p>
    <p>
        Our menu features authentic Eritrean and Ethiopian dishes crafted with locally sourced ingredients and time-honored recipes. Whether you're a seasoned enthusiast or new to Habesha cuisine, our diverse offerings promise a delightful dining experience.
    </p>
    <p>
        Join us to savor the magic of Habesha flavors, enjoy a warm atmosphere, and create lasting memories. We look forward to serving you and sharing our love for food, culture, and community.
    </p>
        </div>

    </div>
</section>

<section>

    <div class="delivery-container">


        <h1> Order Delivery </h1>

            <div class="delivery">
            
                <button class="delivery-btn">
                    <p> Uber </p>
                </button>

                <button class="delivery-btn">
                    <p> GrubHub </p>
                </button>

                <button class="delivery-btn">
                    <p> DoorDash </p>
                </button>
            
            
            
            </div>

    </div>


</section>

<section>

    <div class="openhrs">

        <h1> Opening Hours </h1>

        <div class="open-times">

            <div class="days">
                <p> 8<sup> am</sup> - 10<sup> am</sup> </p>
                <p> Mon - Fri </p>
            
            </div>
            
            <div class="days">
                <p> 12<sup> pm</sup> - 10<sup> pm</sup> </p>
                <p> Saturday </p>
            
            </div>
            
            <div class="days">
                <p> 4<sup> pm</sup> - 10<sup> pm</sup> </p>
                <p> Sunday</p>
            
            </div>

        </div>

        <a href="reservations"><button class="reserve"> Reserve </button></a>

    </div>

</section>



<%- include('../partials/footer') %>