<%- include('../partials/header') %>

<section class="background-pic">
<img src="/images/background-pic.jpg" alt="">
</section>
<section class="section-2" >
    <div class="about-us">

        <div class="about-note">
        <h1> About Us</h1>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam maiores laborum expedita corrupti incidunt.
                Deleniti repellendus libero perspiciatis quasi animi! Earum enim quae architecto et sequi totam accusantium
                delectusLorem ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam maiores laborum expedita corrupti
                incidunt.
                Deleniti repellendus libero perspiciatis quasi animi! Earum enim quae architecto et sequi totam accusantium delectus.

            </p>
        </div>

    </div>
</section>

<section>

    <div class="delivery-container">


        <h1> Order Delivery </h1>

            <div class="delivery">
            
                <button class="delivery-btn">
                    <p> Uber </p>
                </button>

                <button class="delivery-btn">
                    <p> GrubHub </p>
                </button>

                <button class="delivery-btn">
                    <p> DoorDash </p>
                </button>
            
            
            
            </div>

    </div>


</section>

<section>

    <div class="openhrs">

        <h1> Opening Hours </h1>

        <div class="open-times">

            <div class="days">
                <p> 8<sup> am</sup> - 10<sup> am</sup> </p>
                <p> Mon - Fri </p>
            
            </div>
            
            <div class="days">
                <p> 12<sup> pm</sup> - 10<sup> pm</sup> </p>
                <p> Saturday </p>
            
            </div>
            
            <div class="days">
                <p> 4<sup> pm</sup> - 10<sup> pm</sup> </p>
                <p> Sunday</p>
            
            </div>

        </div>

        <button class="reserve"> Reserve </button>

    </div>

</section>



<%- include('../partials/footer') %>