



<%- include('../partials/header') %>



    <body>
        <div class="locations-container">
            <div class="image-contianer">
                <img src="/images/ouside-pic.jpg" alt="">

            </div>
                        <div class="location-adress">
                            <li> Name: <strong> Punt Restaurant </strong></li>
                            <li> Adress: <strong> 16003 Admirality Way  </strong> </li>
                            <li> Hours: <strong> Monday - Sunday </strong></li>
                            <li> Phone: <strong> (206)425-9768 </strong></li>
                            
                        </div>

            <div class="locations-embed">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5899.247302744154!2d-122.28302041850532!3d47.85545937229396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549004528b3e60d3%3A0x77741d9fa4fb06c3!2s16003%20Admiralty%20Way%2C%20Lynnwood%2C%20WA%2098087!5e0!3m2!1sen!2sus!4v1695241811342!5m2!1sen!2sus"
                    width="auto" height="auto" style="border:solid black 2px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            



        </div>
        
       

    </body>


    <%- include('../partials/footer') %>