


<%- include('../partials/header') %>


    <body>

        <div class="container"> 

        <div class="menu-container">
                <h1> Our Menu </h1>
            <div class="menu-types">

                <li> Meals</li>
                <li> Driks</li>
                <li> Desserts</li>

            </div>

            <div class="menu-titles">
                <h2> Stakes</h2>
            </div>

            <div class="menu-entries">

                <div class="entries-left">
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>

                <div class="entries-right">
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>

            </div>

            <div class="menu-titles">
                <h2> Stakes</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>
            
                <div class="entries-right">
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>
            
            </div>

            <div class="menu-titles">
                <h2> Stakes</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>
            
                <div class="entries-right">
                    <li> Lorem ipsum </li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                    <li> hihi</li>
                </div>
            
            </div>

        </div>
    </div>

    </body>


    <%- include('../partials/footer') %>