


<%- include('../partials/header') %>


    <body>

    <div class="container"> 

        <div class="menu-container">
                <h1> Our Menu </h1>

            <div class="menu-titles">
                <h2> Appetizers</h2>
            </div>

            <div class="menu-entries">

                <div class="entries-left">

                    <div class="price-container">
                        <dic class="e-name"> Sambusa </dic>
                        <div class="price"> $6.99 </div>
                    </div>
                    <li><em>Crispy pastry filled with seasoned ground beef, lentils, and spices. Served with a spicy dipping sauce </em></li>
                </div>

                <div class="entries-right">

                    <div class="price-container">
                        <dic class="e-name"> Injera Rolls </dic>
                        <div class="price"> $5.99 </div>
                    </div>
                    <li><em>Thin injera bread rolled with a mix of lentils, vegetables, and traditional spices </em></li>
                </div>

            </div>

            <div class="menu-titles">
                <h2> Soups and Salads</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">
                    <div class="price-container">
                        <dic class="e-name"> Yataklete Kilkil </dic>
                        <div class="price"> $8.99 </div>
                    </div>
                    <li><em>A mixed vegetable stew cooked with herbs and spices </em></li>
                </div>
            
                <div class="entries-right">
                    <div class="price-container">
                        <dic class="e-name"> Azifa </dic>
                        <div class="price"> $7.49 </div>
                    </div>
                    <li><em>A tangy lentil salad with onions, jalapeños, and mustard dressing </em></li>
                </div>
            
            </div>

            <div class="menu-titles">
                <h2> Main Courses</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">

                    <div class="price-container">
                        <dic class="e-name"> Kitfo </dic>
                        <div class="price"> $16.99</div>
                    </div>
                    <li><em>Minced raw beef seasoned with spices, served with injera and traditional sides </em></li>

                    <div class="price-container">
                        <dic class="e-name"> Tibs </dic>
                        <div class="price"> $15.99 </div>
                    </div>
                    <li><em>Succulent pieces of sautéed beef or lamb, seasoned with garlic, onions, and spices </em></li>

                    <div class="price-container">
                        <dic class="e-name"> Zilzil Tibs </dic>
                        <div class="price"> $17.99 </div>
                    </div>
                    <li><em>Tender strips of beef or lamb marinated in spices and sautéed with onions, peppers, and tomatoes </em></li>
                    
                </div>
            
                <div class="entries-right">

                    <div class="price-container">
                        <dic class="e-name"> Key Wat </dic>
                        <div class="price"> $16.99 </div>
                    </div>
                    <li><em>A flavorful slow-cooked beef stew, served with injera </em></li>

                    <div class="price-container">
                        <dic class="e-name"> Dulet </dic>
                        <div class="price"> $18.99 </div>
                    </div>
                    <li><em>A spicy and hearty dish made with chopped beef, lamb, and liver sautéed with spices. Served with injera </em></li>

                    <div class="price-container">
                        <dic class="e-name"> Fish Tibs </dic>
                        <div class="price"> $16.99 </div>
                    </div>
                    <li><em>Fresh fish fillet sautéed with onions, garlic, and herbs Served with injera </em></li>
                    
                </div>
            </div>

                


            <div class="menu-titles">
                <h2> Traditional Platters</h2>
            </div>
            
            <div class="menu-entries">


                    
                <div class="entries-left">
                    <div class="price-container">
                        <dic class="e-name"> Habesha Feast </dic>
                        <div class="price"> $29.99 </div>
                    </div>
                    <li><em>A combination of doro wat, kitfo, injera rolls, and assorted vegetables. Perfect for sharing </em></li>
                    
                    <div class="price-container">
                        <dic class="e-name"> Vegetarian Delight </dic>
                        <div class="price"> $24.99 </div>
                    </div>
                    <li><em>A platter of various vegetarian dishes, injera, and sides for a complete Habesha experience </em></li>

                </div>
            
                <div class="entries-right">

                    <div class="price-container">
                        <dic class="e-name"> Habesha Feast for Two </dic>
                        <div class="price"> $49.99 </div>
                    </div>
                    <li><em>A generous platter featuring a variety of meat and vegetarian dishes. Perfect for sharing </em></li>
                    
                    <div class="price-container">
                        <dic class="e-name"> Zilzil Tibs </dic>
                        <div class="price"> $17.99 </div>
                    </div>
                    <li><em>Tender strips of beef or lamb marinated in spices and sautéed with onions, peppers, and tomatoes </em></li>

                </div>
            
            </div>
    
            <div class="menu-titles">
                <h2> Beverages</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">

                    <div class="price-container">
                        <dic class="e-name"> Ethiopian Coffee </dic>
                        <div class="price"> $3.99 </div>
                    </div>
                    <li><em>Rich, aromatic Ethiopian coffee served in traditional style </em></li>
                    
                    <div class="price-container">
                        <dic class="e-name"> Tej </dic>
                        <div class="price"> $6.99 | Bottle: $24.99 </div>
                    </div>
                    <li><em>Sweet honey wine, a traditional Ethiopian drink. Glass </em></li>
            
                </div>
            
                <div class="entries-right">

                    <div class="price-container">
                        <dic class="e-name"> Avocado Juice </dic>
                        <div class="price"> $4.99 </div>
                    </div>
                    <li><em>A refreshing drink made from ripe avocados blended with a hint of sugar and milk </em></li>
                    
                    <div class="price-container">
                        <dic class="e-name"> Teff Sicha </dic>
                        <div class="price"> $3.99 </div>
                    </div>
                    <li><em>A nutritious and traditional drink made from fermented teff </em></li>
            
                </div>
            
            </div>


            <div class="menu-titles">
                <h2> Desserts</h2>
            </div>
            
            <div class="menu-entries">
            
                <div class="entries-left">

                    <div class="price-container">
                        <dic class="e-name"> Baklava </dic>
                        <div class="price"> $5.99 </div>
                    </div>
                    <li><em>Layers of flaky pastry filled with honey, nuts, and spices </em></li>
                    

                   
            
                </div>
            
                <div class="entries-right">

                    <div class="price-container">
                        <dic class="e-name"> Tiramisu </dic>
                        <div class="price"> $7.99 </div>
                    </div>
                    <li><em>A Habesha twist on the classic Italian dessert, with Ethiopian coffee flavor </em></li>            
                </div>
            
            </div>

        </div>
    </div>

    </body>


    <%- include('../partials/footer') %>