




<%- include('../partials/header') %>



    <body>

        <div class="news-container">

            <div class="news-blocks">
                <div class="imageHeader-container">
                
                    <h1> Seahawks Game</h1>
                    <img src="/images/seahawks.jpeg" alt="" srcset="">
                
                </div>

                <p>Join us for an exciting Seahawks game this weekend! The Seattle Seahawks will face off against their rivals in a
                thrilling match. Don't miss out on the action-packed game, delicious stadium food, and the chance to support your
                favorite team. Get your tickets now! </p>
            </div>
            
            <div class="news-blocks">
                <div class="imageHeader-container">

                    <h1> Habesha Night</h1>
                    <img src="/images/habesha.png" alt="" srcset="">

                </div>
                
                <p>Experience the vibrant and rich culture of Habesha Night. Join us for a night filled with traditional Ethiopian music,
                dance, and mouthwatering cuisine. Immerse yourself in the beauty of East African traditions and create lasting memories
                with friends and family. </p>
            </div>

            <div class="news-blocks">
                <div class="imageHeader-container">
                
                    <h1> Bunna Night </h1>
                    <img src="/images/bunna.jpeg" alt="" srcset="">
                
                </div>

<p>Get ready for an unforgettable Bunna Night! Indulge in the aromatic flavors of Ethiopian coffee, known as Bunna,
    served in traditional coffee ceremonies. Learn about the history and significance of coffee in Ethiopian culture
    while savoring every sip.</p>

            </div>

            <div class="news-blocks">
                <div class="imageHeader-container">
                
                    <h1> Drinks on Us</h1>
                    <img src="/images/cocktails.jpeg" alt="" srcset="">
                
                </div>

                    <p> It's time to unwind and enjoy refreshing cocktails at our "Drinks on Us" event. Join us for a night of mixologymastery, where our expert bartenders will craft signature cocktails for you to savor. Cheers to a night of fun and delicious drinks!
                </p>

            </div>

        </div>

    </body>


    <%- include('../partials/footer') %>