




<%- include('../partials/header') %>



    <body>

        <div class="news-container">

            <div class="news-blocks">
                <h1> Seahawks Game</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a, perferendis modi nulla quisquam maiores minima, dignissimos ratione esse cum possimus </p>
            </div>
            
            <div class="news-blocks">
                <h1> Seahawks Game</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a, perferendis modi nulla quisquam maiores
                    minima, dignissimos ratione esse cum possimus </p>
            </div>

            <div class="news-blocks">
                <h1> Seahawks Game</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a, perferendis modi nulla quisquam maiores
                    minima, dignissimos ratione esse cum possimus </p>
            </div>

            <div class="news-blocks">
                <h1> Seahawks Game</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a, perferendis modi nulla quisquam maiores
                    minima, dignissimos ratione esse cum possimus </p>
            </div>

        </div>

    </body>


    <%- include('../partials/footer') %>