


<%- include('../partials/header') %>




    <body>
        <div class="reservation-container">

            <div class="form-container">

                <form method="get" action="" class="main-form">
                
                    <div class="customer-flex">
                        <div>
                            <label for="FirstName">First Name</label> <br>
                            <input type="text" name="FirstName" id="entry" placeholder="First Name" required autofocus>
                        </div>
                
                        <div>
                            <label for="LastName">Last Name</label> <br>
                            <input type="text" name="LastName" id="entry" placeholder="Last Name" required>
                        </div>
                
                        <div>
                            <label for="Email">Email </label> <br>
                            <input type="email" name="Email" id="entry" placeholder="Email" required>
                        </div>
                
                        <div>
                            <label for="Party Size">Party Size</label> <br>
                            <input type="text" name="Party Size" id="entry" placeholder="Party Size" required>
                        </div>
                    </div>
                
                    <Div>
                        <label for="Commnets">Addtional Info</label><br>
                        <textarea name="Commnets" id="Commnets" placeholder="Addtional Info" cols="35" rows="5"></textarea>
                    </Div>
                
                    <div>
                        <input type="submit">
                    </div>
                </form>
            </div>

            
             <div class="image-contianer-reserve">
                <img src="/images/reserved.jpg" alt="">
             </div>


        </div>
    </body>


    <%- include('../partials/footer') %>